.action-button {
  background-color: var(--color-primary);
  color: var(--color-background);
  transition: all 250ms;
  text-transform: uppercase;
  font-weight: 800;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5%;
  margin: 0 0 16px;
}

.action-button:hover {
  background-color: var(--color-background);
  color: var(--color-primary);
}
