.array-form-element {
  border-bottom: solid 1px var(--color-shade-4);
  width: 100%;
}

.array-form-element .array-form-element__table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 20px;
}

.array-form-element .array-form-element__table__head__row,
.array-form-element .array-form-element__table__body__row {
  border-bottom: solid 1px var(--color-shade-4);
}

.array-form-element .array-form-element__table__head__row__cell,
.array-form-element .array-form-element__table__body__row__cell {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.array-form-element .array-form-element__table__head__row__cell {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.array-form-element .array-form-element__operations {
  padding-left: 4px;
}

:deep(.form) {
  flex-direction: row !important;
  gap: 10px;
}

:deep(.form__row__value) {
  width: 100% !important;
}
