.dialog-box {
  position: absolute;
  z-index: 100;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: var(--color-overlay);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog-box .dialog-box__modal {
  position: absolute;
  background-color: var(--color-shade-0);
  width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dialog-box .dialog-box__modal__header {
  background-color: var(--color-shade-1);
  height: 40px;
  margin: 0;
  padding: 0 10px 0 10px;
  color: var(--color-shade-8);
  text-transform: uppercase;
  font-family: "Helvetica-Neue", "Helvetica", "Arial", sans-serif;
  font-style: normal;
  color: var(--color-shade-8);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dialog-box .dialog-box__modal__content {
  padding: 25px;
  padding-bottom: 55px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.dialog-box .dialog-box__modal__footer {
  background-color: var(--color-shade-1);
  height: 40px;
  margin: 0;
  color: var(--color-shade-8);
  text-transform: uppercase;
  text-align: right;
}

@media screen and (max-width: 960px) {
  .dialog-box .dialog-box__modal {
    width: 100%;
    top: 0px;
    left: 0px;
  }

  .dialog-box .dialog-box__modal__content {
    padding-bottom: 10px;
    padding-top: 10px;
  }
}

@media screen and (max-width: 640px) {
  .dialog-box .dialog-box__modal {
    height: 100%;
  }
}
