.list-form-element {
  position: relative;
  display: inline-block;
}

.list-form-element .list-form-element__drop-button {
  background-color: var(--color-background);
  color: var(--color-primary);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.list-form-element .list-form-element__drop-button:hover,
.list-form-element__drop-button:focus {
  color: var(--color-background);
  background-color: var(--color-primary);
}

.list-form-element .list-form-element__dropdown-content__input {
  box-sizing: border-box;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid var(--color-shade-8);
  color: var(--color-primary);
  background-color: var(--color-background);
}

.list-form-element .list-form-element__dropdown-content__input:focus {
  outline: 3px solid var(--color-shade-8);
}

.list-form-element .list-form-element__dropdown-content {
  position: absolute;
  background-color: var(--color-shade-10);
  min-width: 230px;
  border: 1px solid var(--color-shade-8);
  z-index: 1;
}

.list-form-element .list-form-element__dropdown-content--show {
  transition: height ease-in-out 250ms;
}

.list-form-element .list-form-element__dropdown-content__link {
  color: var(--color-background);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.list-form-element .list-form-element__dropdown-content__link:hover {
  background-color: var(--color-primary);
  color: var(--color-background);
}
