.pane {
  background: var(--color-shade-5);
  height: 100%;
}

.pane .pane__header {
  background-color: var(--color-shade-6);
  height: 30px;
  margin: 0;
  padding: 0 10px 0 10px;
  color: var(--color-shade-0);
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pane .pane__header__board-toolbar {
  display: flex;
  gap: 10px;
}
