.toggle-header-button {
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 50px;
  background-color: var(--color-shade-2);
  text-align: center;
  cursor: pointer;
}

.toggle-header-button .toggle-header-button__icon {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px 0;
  align-items: center;
  justify-content: center;
  color: var(--color-foreground);
}

.toggle-header-button .toggle-header-button__icon__svg {
  height: 18px;
}
