@import "./reset.css";
@import "./variables.css";
@import "./vue.css";
@import "~/rpg-awesome/css/rpg-awesome.min.css";

html {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

#app {
  height: 100%;
}
