/* ==========================================================================
   Forms
   ========================================================================== */

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid var(--fieldset-border);
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */

button,
input,
select,
textarea {
  all: unset;
  font-family: inherit; /* 1 */
  font-size: 100%; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  box-sizing: content-box;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}

select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  font-size: 14px;
  line-height: 20px;
  color: var(--uneditable-input-color);
  vertical-align: middle;
  width: 100%;
}

.styled-select {
  position: relative;
  width: 100%;
  border: 1px solid var(--styled-select-border);
  background-color: var(--styled-select-background);
}

textarea {
  height: auto;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: var(--input-background);
  border: 1px solid var(--input-border);
  box-shadow: inset 0 1px 1px var(--input-shadow);
  transition:
    border linear 0.2s,
    box-shadow linear 0.2s;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: var(--input-focus-border);
  outline: 0;
  box-shadow:
    inset 0 1px 1px var(--input-focus-shadow1),
    0 0 8px var(--input-focus-shadow2);
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: var(--input-placeholder-color);
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: var(--input-placeholder-color);
}

.form-value input[type="checkbox"] {
  margin-top: 8px;
}

.form-table td {
  vertical-align: top;
}

.form-label {
  text-align: right;
  padding-right: 14px;
  height: 42px;
  padding-top: 4px;
  width: 20%;
}

input.table-row-value {
  width: 150px;
  margin: 0px;
}

.sub-table {
  margin-bottom: 3px;
}

.sub-table .form {
  display: flex;
  gap: 10px;
}

.sub-table .form .form-value {
  width: 100%;
}

.sub-table .input-container {
  flex-direction: column;
}

.sub-table td {
  border: none;
  vertical-align: middle;
}

.form-table-value-subtable {
  max-height: 110px;
  overflow-x: hidden;
  overflow-y: auto;
  border-bottom: solid 1px var(--form-table-value-subtable-border);
  width: 100%;
}

td.form-table-value > input[type="checkbox"] {
  height: 15px;
  margin-top: 7px;
}

.table-row-operation > i {
  cursor: pointer;
}
