@import "./forms.css";
@import "./grid.css";
@import "./modal.css";
@import "./preloader.css";

/**
 * Correct `block` display not defined in IE 8/9.
 */
:root {
  --mark-background: #ff0;
  --mark-color: #000;
  --fieldset-border: #c0c0c0;
  --html-background: #101214;
  --body-background: #101214;
  --body-color: #8b8b8b;
  --modal-background: #2a2a2a;
  --modal-header-background: #272727;
  --modal-header-color: #8b8b8b;
  --modal-footer-background: #272727;
  --modal-footer-color: #8b8b8b;
  --input-background: #272727;
  --input-border: #3d3d3d;
  --input-shadow: rgba(0, 0, 0, 0.075);
  --input-focus-border: rgba(255, 153, 0, 0.8);
  --input-focus-shadow1: rgba(0, 0, 0, 0.075);
  --input-focus-shadow2: rgb(255, 153, 0);
  --select-background: #272727;
  --table-border: #dddddd;
  --table-background: #ffffff;
  --table-td-border: #3d3d3d;
  --table-td-color: #d3d4d4;
  --modal-overlay-background: rgba(0, 0, 0, 0.8);
  --a-focus-outline: #333;
  --a-color: #b88f51;
  --a-focus-color: #005580;
  --pane-header-background: #272727;
  --pane-header-color: #8b8b8b;
  --pane-background: #2a2a2a;
  --pane-preview-holder-background: rgba(255, 255, 255, 0.2);
  --admin-bar-background: #313131;
  --admin-bar-shadow: #000;
  --toggle-header-background: #313131;
  --sub-section-border: #363636;
  --small-text-color: #d3d4d4;
  --form-table-value-subtable-border: #3d3d3d;
  --datasource-list-container: #3d3d3d;
  --value-dropdown-background: #272727;
  --value-dropdown-border: rgba(255, 153, 0, 0.8);
  --value-dropdown-li-selected-background: rgba(255, 153, 0, 0.8);
  --value-dropdown-li-selected-color: #000;
  --value-editor-ds-color: #b88f51;
  --board-toolbar-li-color: #b88f51;
  --board-toolbar-li-background: rgba(75, 75, 75, 0);
  --board-toolbar-li-hover-background: rgba(75, 75, 75, 1);
  --text-button-color: #b88f51;
  --setting-description-color: #b88f51;
  --styled-select-border: #3d3d3d;
  --styled-select-background: #272727;
  --title-color: #d3d4d4;
  --tile-border: #d3d4d4;
  --loading-up-border: #fff;
  --loading-up-border-top: #fff;
  --loading-up-border-left: #555;
  --loading-up-border-right: #555;
  --loading-up-border-bottom: #fff;
  --loading-down-border: #fff;
  --loading-down-border-left: #fff;
  --loading-down-border-top: #555;
  --loading-down-border-bottom: #555;
  --loading-down-border-right: #fff;
  --input-placeholder-color: #636363;
  --scrollbar-thumb-background: rgba(255, 255, 255, 0.05);
  --validation-error-color: #aa7575;
  --onoffswitch-label-border: #3d3d3d;
  --onoffswitch-on-background: #2a2a2a;
  --onoffswitch-on-color: #8b8b8b;
  --onoffswitch-off-background: #101214;
  --onoffswitch-off-color: #8b8b8b;
  --onoffswitch-switch-background: #a1a1a1;
  --onoffswitch-switch-border: #3d3d3d;
  --onoffswitch-checked-background: #ff9900;
  --code-window-background: #2a2a2a;
  --uneditable-input-color: #d3d4d4;
  --icon-white-color: #d3d4d4;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */

audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */

[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  user-select: none;
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* Hacky hack. Remove scrollbars for 320 width screens */
@media screen and (max-width: 320px) {
  body::-webkit-scrollbar {
    display: none;
  }
}

/* ==========================================================================
   Links
   ========================================================================== */

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: var(--mark-background);
  color: var(--mark-color);
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */

pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9.
 */

img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */

svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari 5.
 */

figure {
  margin: 0;
}

/* ==========================================================================
   Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ==========
freeboard
============*/

html {
  background-color: var(--html-background);
  height: 100%;
  overflow: hidden;
}

body {
  background-color: var(--body-background);
  color: var(--body-color);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.control-group:last-child {
  margin-bottom: 0px;
}

.control-group {
  margin-bottom: 16px;
}

.control-group:before,
.control-group:after {
  display: table;
  line-height: 0;
  content: "";
}

.control-group:after {
  clear: both;
}

.control-label {
  padding-top: 5px;
  text-align: right;
  text-transform: uppercase;
  font-size: 11px;
}

.controls {
  padding-left: 20px;
  margin-left: 180px;
}

.align-right {
  text-align: right;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}

h1,
h2,
h3 {
  line-height: 40px;
}

h1 {
  font-size: 38.5px;
}

h2 {
  font-size: 31.5px;
}

h3 {
  font-size: 24.5px;
}

h4 {
  font-size: 17.5px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 11.9px;
}

table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.table {
  width: 100%;
  margin-bottom: 20px;
}

.table th,
.table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid var(--table-border);
}

.table th {
  font-weight: bold;
}

.table thead th {
  vertical-align: bottom;
}

.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
  border-top: 0;
}

.table tbody + tbody {
  border-top: 2px solid var(--table-border);
}

.table .table {
  background-color: var(--table-background);
}

.table-condensed th,
.table-condensed td {
  padding: 2px 5px;
}

a:focus {
  outline: thin dotted var(--a-focus-outline);
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

a:hover,
a:active {
  outline: 0;
}

a {
  color: var(--a-color);
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--focus-color);
  text-decoration: underline;
}

header h1 {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  margin: 0;
  line-height: 30px;
}

.board-content {
  overflow: visible;
  padding-top: 10px;
}

.main-header {
  width: 100%;
  position: relative;
  z-index: 50;
}

.admin-bar {
  width: 100%;
  background-color: var(--admin-bar-background);

  box-shadow: 0 0 5px var(--admin-bar-shadow);
}

.board-tools {
  width: 100%;
}

.board-actions {
  display: flex;
  width: 100%;
}

.board-toolbar.vertical {
  width: 50%;
}

.toggle-header {
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 50px;
  background-color: var(--toggle-header-background);
  text-align: center;
  cursor: pointer;
}

.toggle-header-icon {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px 0;
  align-items: center;
  justify-content: center;
}

.toggle-header-icon svg {
  height: 18px;
}

.section-title {
  min-height: 7px;
}

.datasource-edit-btn {
  padding: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.datasource-delete-btn {
  padding: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.table thead th {
  font-size: 10px;
  text-shadow: none;
}

.table td {
  border-top: solid 1px var(--table-td-border);
  color: var(--table-td-color);
}

.datasources {
  height: 100%;
  width: 100%;
}

.admin-menu {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px;
  box-sizing: border-box;
}

.small-text {
  color: var(--small-text-color);
  font-size: 20px;
  font-weight: 100;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: 1px;
}

ul,
ol {
  list-style: none;
}

.column-tools {
  position: relative;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 5px;
}

.column-tools .left-columns {
  position: absolute;
  left: 0;
}

.column-tools .right-columns {
  position: absolute;
  right: 0;
}

.column-tool {
  cursor: pointer;
}

.column-icon {
  display: inline-block;
  height: 100%;
}

.column-icon.right {
  float: right;
}

.column-icon.left {
  float: left;
}

.datasource-list-container {
  overflow-x: hidden;
  overflow-y: auto;
  border-bottom: solid 1px var(--datasource-list-container);
}

ul.value-dropdown {
  height: 75px;
  position: absolute;
  padding: 0px;
  margin: 0px;
  background-color: var(--value-dropdown-background);
  border: 1px solid var(--value-dropdown-border);
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 3001;
}

ul.value-dropdown li {
  padding: 5px;
  cursor: pointer;
}

ul.value-dropdown li.selected {
  background-color: var(--value-dropdown-li-selected-background);
  color: var(--value-dropdown-li-selected-color);
  text-shadow: none;
}

ul.value-dropdown li .preview {
  font-style: italic;
  font-size: 10px;
  width: 300px;
  display: inline-block;
  vertical-align: bottom;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 20px;
}

.main-logo {
  display: block;
  margin-bottom: 20px;
}

.dash-logo {
  display: block;
  margin-left: 10px;
  margin-bottom: 10px;
}

.value-editor-ds {
  color: var(--value-editor-ds-color);
  cursor: pointer;
}

ul.board-toolbar {
  padding: 0px;
  margin: 0px;
  text-transform: uppercase;
  font-size: 11px;
  display: flex;
}

ul.board-toolbar.vertical {
  flex-direction: column;
}

.board-toolbar li {
  display: flex;
  color: var(--board-toolbar-li-color);
  cursor: pointer;
  margin: 0px 0px 0px 5px;
  background-color: var(--board-toolbar-li-background);
  padding: 4px;
}

.board-toolbar li:hover {
  background-color: var(--board-toolbar-li-hover-background);

  transition: 250ms linear;
}

.board-toolbar li label {
  cursor: pointer;
  margin-left: 8px;
}

.text-button {
  color: var(--text-button-color);
  cursor: pointer;
  text-transform: uppercase;
}

.datasource-name {
  text-transform: none;
}

a:hover.text-button,
a:focus.text-button {
  color: var(--text-button-color);
  text-decoration: none;
}

.text-button > i {
  margin-right: 10px;
}

.text-button::before,
.text-button::after {
  display: inline-block;
  opacity: 0;
  transition:
    transform 0.3s,
    opacity 0.2s;
}

.text-button::before {
  margin-right: 5px;
  content: "[";

  transform: translateX(10px);
}

.text-button::after {
  margin-left: 5px;
  content: "]";
  transform: translateX(-10px);
}

.text-button:hover::before,
.text-button:hover::after,
.text-button:focus::before,
.text-button:focus::after {
  opacity: 1;
  transform: translateX(0px);
}

.setting-description {
  font-size: 10px;
  text-shadow: none;
  color: var(--setting-description-color);
  margin-top: 5px;
  margin-bottom: 15px;
  max-width: 400px;
  line-height: 1.5em;
}

.title {
  font-family: "Helvetica-Neue", "Helvetica", "Arial", sans-serif;
  vertical-align: baseline;

  font-style: normal;
  color: var(--title-color);
}

.title.bordered {
  border: solid 3px var(--title-border);
  display: inline-block;
  padding: 2px 17px 2px 17px;
  line-height: 39px;
}

h1.title {
  margin-bottom: 10px;
  font-size: 23px;
  letter-spacing: -1px;
}

h2.title {
  font-size: 13px;
  line-height: 20px;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.table-operation {
  font-size: 11px;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-top: 1px;
}

@media screen and (max-width: 960px) {
  .add-pane {
    padding-top: 10px;
  }

  .text-button {
    font-size: 14px;
    line-height: 22px;
  }

  .title.bordered {
    padding: 1px 8px;
    line-height: 25px;
    border-width: 2px;
  }

  .control-label {
    width: auto;
  }

  ul.datasource-input-suffix {
    margin-left: 0px;
    margin-bottom: 30px;
  }

  ul.datasource-input-suffix li {
    margin-left: 0;
  }
}

::-webkit-scrollbar {
  height: 0px;
  width: 4px;
  background: transparent;
  padding-right: 10;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-background);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.validation-error {
  margin-top: 7px;
  margin-bottom: 7px;
  color: var(--validation-error-color);
  font-size: 13px;
}

.onoffswitch {
  position: relative;
  width: 78px;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid var(--onoffswitch-label-border);
  border-radius: 0px;
}

.onoffswitch-inner {
  width: 200%;
  margin-left: -100%;

  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner .on,
.onoffswitch-inner .off {
  float: left;
  width: 50%;
  height: 29px;
  padding: 0;
  line-height: 29px;
  font-size: 17px;
  color: white;

  box-sizing: border-box;
}

.onoffswitch-inner .on {
  padding-left: 6px;
  background-color: var(--onoffswitch-on-background);
  color: var(--onoffswitch-on-background);
}

.onoffswitch-inner .off {
  padding-right: 6px;
  background-color: var(--onoffswitch-off-background);
  color: var(--onoffswitch-off-color);
  text-align: right;
}

.onoffswitch-switch {
  width: 21px;
  margin: 4px;
  background: var(--onoffswitch-switch-background);
  border: 1px solid var(--onoffswitch-switch-border);
  border-radius: 0px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 47px;

  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
  background-color: var(--onoffswitch-checked-background);
}

.code-window {
  z-index: 5000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--code-window-background);
}

.code-window-footer {
  height: 64px;
  position: absolute;
  right: 0;
  bottom: 0;
  line-height: 64px;
  padding-right: 20px;
  padding-left: 20px;
}

.code-window-header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  line-height: 1.1em;
  font-weight: 200;
}

@media screen and (max-width: 800px) {
  .code-window-header {
    font-size: 11px;
  }
}

.code-mirror-wrapper {
  width: 100%;
  position: absolute;
  bottom: 64px;
  top: 100px;
  left: 0;
  overflow: scroll;
}

.responsive-column-width-md {
  max-width: 960px;
}

.responsive-column-width-lg {
  max-width: 1280px;
}

.responsive-column-width-xl {
  max-width: 1536px;
}

.dashboard-control {
  width: 100%;
  display: flex;
}

.dashboard-control .form-label {
  width: 30%;
}

.dashboard-control .form-value {
  width: 70%;
}

.freeboard-control {
  width: 100%;
  display: flex;
}

@media screen and (max-width: 640px) {
  .board-actions {
    flex-direction: column;
  }
  .dashboard-control {
    flex-direction: column;
  }
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.icon-white {
  color: var(--icon-white-color);
}

.tab-navigator {
  display: flex;
  width: 100%;
}

.tab-navigator .menu {
  width: 20%;
  border-right: 1px solid var(--onoffswitch-switch-border);
}

.tab-navigator .board-toolbar {
  width: 100%;
}

.tab-navigator .tabs {
  width: 100%;
}

.monaco-editor {
  min-height: 400px;
}
