@import "./forms.css";
@import "./grid.css";
@import "./modal.css";
@import "./preloader.css";

/* ==========
freeboard
============*/

.control-group:last-child {
  margin-bottom: 0px;
}

.control-group {
  margin-bottom: 16px;
}

.control-group:before,
.control-group:after {
  display: table;
  line-height: 0;
  content: "";
}

.control-group:after {
  clear: both;
}

.control-label {
  padding-top: 5px;
  text-align: right;
  text-transform: uppercase;
  font-size: 11px;
}

.controls {
  padding-left: 20px;
  margin-left: 180px;
}

.align-right {
  text-align: right;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}

h1,
h2,
h3 {
  line-height: 40px;
}

h1 {
  font-size: 38.5px;
}

h2 {
  font-size: 31.5px;
}

h3 {
  font-size: 24.5px;
}

h4 {
  font-size: 17.5px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 11.9px;
}

a:focus {
  outline: thin dotted var(--a-focus-outline);
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

a:hover,
a:active {
  outline: 0;
}

a {
  color: var(--a-color);
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--focus-color);
  text-decoration: underline;
}

header h1 {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  margin: 0;
  line-height: 30px;
}

.section-title {
  min-height: 7px;
}

.datasource-edit-btn {
  padding: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.datasource-delete-btn {
  padding: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.table thead th {
  font-size: 10px;
  text-shadow: none;
}

.table td {
  border-top: solid 1px var(--table-td-border);
  color: var(--table-td-color);
}

.datasources {
  height: 100%;
  width: 100%;
}

.small-text {
  color: var(--small-text-color);
  font-size: 20px;
  font-weight: 100;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: 1px;
}

ul,
ol {
  list-style: none;
}

.datasource-list-container {
  overflow-x: hidden;
  overflow-y: auto;
  border-bottom: solid 1px var(--datasource-list-container);
}

ul.value-dropdown {
  height: 75px;
  position: absolute;
  padding: 0px;
  margin: 0px;
  background-color: var(--value-dropdown-background);
  border: 1px solid var(--value-dropdown-border);
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 3001;
}

ul.value-dropdown li {
  padding: 5px;
  cursor: pointer;
}

ul.value-dropdown li.selected {
  background-color: var(--value-dropdown-li-selected-background);
  color: var(--value-dropdown-li-selected-color);
  text-shadow: none;
}

ul.value-dropdown li .preview {
  font-style: italic;
  font-size: 10px;
  width: 300px;
  display: inline-block;
  vertical-align: bottom;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 20px;
}

.value-editor-ds {
  color: var(--value-editor-ds-color);
  cursor: pointer;
}

.datasource-name {
  text-transform: none;
}

.setting-description {
  font-size: 10px;
  text-shadow: none;
  color: var(--setting-description-color);
  margin-top: 5px;
  margin-bottom: 15px;
  max-width: 400px;
  line-height: 1.5em;
}

.title {
  font-family: "Helvetica-Neue", "Helvetica", "Arial", sans-serif;
  vertical-align: baseline;

  font-style: normal;
  color: var(--title-color);
}

.title.bordered {
  border: solid 3px var(--title-border);
  display: inline-block;
  padding: 2px 17px 2px 17px;
  line-height: 39px;
}

h1.title {
  margin-bottom: 10px;
  font-size: 23px;
  letter-spacing: -1px;
}

h2.title {
  font-size: 13px;
  line-height: 20px;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.table-operation {
  font-size: 11px;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-top: 1px;
}

@media screen and (max-width: 960px) {
  .add-pane {
    padding-top: 10px;
  }

  .text-button {
    font-size: 14px;
    line-height: 22px;
  }

  .title.bordered {
    padding: 1px 8px;
    line-height: 25px;
    border-width: 2px;
  }

  .control-label {
    width: auto;
  }

  ul.datasource-input-suffix {
    margin-left: 0px;
    margin-bottom: 30px;
  }

  ul.datasource-input-suffix li {
    margin-left: 0;
  }
}

::-webkit-scrollbar {
  height: 0px;
  width: 4px;
  background: transparent;
  padding-right: 10;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-background);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.dashboard-control .form-label {
  width: 30%;
}

.dashboard-control .form-value {
  width: 70%;
}

.monaco-editor {
  min-height: 400px;
}
