.grid {
  max-width: 960px;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0;
}

.grid section {
  background: var(--pane-background);
  line-height: normal;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
  z-index: auto;
  user-select: text;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.grid .preview-holder {
  border: none !important;
  border-radius: 0 !important;
  background: var(--pane-preview-holder-background) !important;
}

.grid header {
  background-color: var(--pane-header-background);
  height: 30px;
  margin: 0;
  padding: 0 10px 0 10px;
  color: var(--pane-header-color);
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

.pane {
  background: var(--pane-background);
  height: 100%;
  overflow: hidden;
}

.widget {
  height: 100%;
}

.widget-output {
  padding: 5px 10px 5px 10px;
  height: 100%;
  width: 100%;

  box-sizing: border-box;
}

.sub-section-tools {
  top: 0px;
  right: 0px;
  position: absolute;
}

.sub-section h2 {
  font-size: 14px;
  font-weight: normal;
  padding: 0px;
  margin: 0px;
  line-height: normal;
}

.sub-section {
  padding: 0;
  border-bottom: solid 1px var(--sub-section-border);
  position: relative;
  overflow: hidden;
  min-height: 30px;
  height: 100%;
}

@media screen and (max-width: 640px) {
  .grid {
    height: 100% !important;
    gap: 20px;
    display: flex;
    flex-direction: column;
  }
}
