:root {
  --mark-background: #ff0;
  --mark-color: #000;
  --fieldset-border: #c0c0c0;
  --html-background: #101214;
  --body-background: #101214;
  --body-color: #8b8b8b;
  --modal-background: #2a2a2a;
  --modal-header-background: #272727;
  --modal-header-color: #8b8b8b;
  --modal-footer-background: #272727;
  --modal-footer-color: #8b8b8b;
  --input-background: #272727;
  --input-border: #3d3d3d;
  --input-shadow: rgba(0, 0, 0, 0.075);
  --input-focus-border: rgba(255, 153, 0, 0.8);
  --input-focus-shadow1: rgba(0, 0, 0, 0.075);
  --input-focus-shadow2: rgb(255, 153, 0);
  --select-background: #272727;
  --table-border: #dddddd;
  --table-background: #ffffff;
  --table-td-border: #3d3d3d;
  --table-td-color: #d3d4d4;
  --modal-overlay-background: rgba(0, 0, 0, 0.8);
  --a-focus-outline: #333;
  --a-color: #b88f51;
  --a-focus-color: #005580;
  --pane-header-background: #272727;
  --pane-header-color: #8b8b8b;
  --pane-background: #2a2a2a;
  --pane-preview-holder-background: rgba(255, 255, 255, 0.2);
  --admin-bar-background: #313131;
  --admin-bar-shadow: #000;
  --toggle-header-background: #313131;
  --sub-section-border: #363636;
  --small-text-color: #d3d4d4;
  --form-table-value-subtable-border: #3d3d3d;
  --datasource-list-container: #3d3d3d;
  --value-dropdown-background: #272727;
  --value-dropdown-border: rgba(255, 153, 0, 0.8);
  --value-dropdown-li-selected-background: rgba(255, 153, 0, 0.8);
  --value-dropdown-li-selected-color: #000;
  --value-editor-ds-color: #b88f51;
  --board-toolbar-li-color: #b88f51;
  --board-toolbar-li-background: rgba(75, 75, 75, 0);
  --board-toolbar-li-hover-background: rgba(75, 75, 75, 1);
  --text-button-color: #b88f51;
  --setting-description-color: #b88f51;
  --styled-select-border: #3d3d3d;
  --styled-select-background: #272727;
  --title-color: #d3d4d4;
  --tile-border: #d3d4d4;
  --loading-up-border: #fff;
  --loading-up-border-top: #fff;
  --loading-up-border-left: #555;
  --loading-up-border-right: #555;
  --loading-up-border-bottom: #fff;
  --loading-down-border: #fff;
  --loading-down-border-left: #fff;
  --loading-down-border-top: #555;
  --loading-down-border-bottom: #555;
  --loading-down-border-right: #fff;
  --input-placeholder-color: #636363;
  --scrollbar-thumb-background: rgba(255, 255, 255, 0.05);
  --validation-error-color: #aa7575;
  --onoffswitch-label-border: #3d3d3d;
  --onoffswitch-on-background: #2a2a2a;
  --onoffswitch-on-color: #8b8b8b;
  --onoffswitch-off-background: #101214;
  --onoffswitch-off-color: #8b8b8b;
  --onoffswitch-switch-background: #a1a1a1;
  --onoffswitch-switch-border: #3d3d3d;
  --onoffswitch-checked-background: #ff9900;
  --code-window-background: #2a2a2a;
  --uneditable-input-color: #d3d4d4;
  --icon-white-color: #d3d4d4;
}
