:root {
  --color-primary: #b88f51;
  --color-accent: #ff9900;
  --color-secondary: #005580;
  --color-error: #aa7575;
  --color-foreground: #d3d4d4;
  --color-background: #101214;

  --color-shade-0: #2a2a2a;
  --color-shade-1: #272727;
  --color-shade-2: #313131;
  --color-shade-3: #363636;
  --color-shade-4: #3d3d3d;
  --color-shade-5: #4b4b4b;
  --color-shade-6: #555555;
  --color-shade-7: #636363;
  --color-shade-8: #8b8b8b;
  --color-shade-9: #a1a1a1;
  --color-shade-10: #ffffff;

  --color-overlay: rgba(0, 0, 0, 0.8);
  --color-shadow: rgba(0, 0, 0, 0.075);
  --color-highlight: rgba(255, 153, 0, 0.8);
}
