[Unit]
Description=Freeboard
Requires=docker.service
After=docker.service

[Service]
Type=simple
User=root
ExecStart=/home/pi/freeboard/.venv/bin/python /home/pi/freeboard/player.py
Restart=always

[Install]
WantedBy=multi-user.target
