[Unit]
Description=Freeboard
Requires=docker.service
After=docker.service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/bash /home/pi/freeboard/player.sh
Restart=always

[Install]
WantedBy=multi-user.target
